In [28]:
import pandas as pd
import os.path

In [6]:
kite_orders = pd.read_csv('D:\DevAPT\APT\Live_Trading\Sample_Order_Response.csv')
current_order = pd.DataFrame(columns=['order_id', 'order_type', 'transaction_type', 'parent_order_id', 'price', 'status'])

In [3]:
current_order = current_order.append(kite_orders.loc[2, ['order_id', 'order_type', 'transaction_type', 'parent_order_id', 'price', 'status']])
current_order = current_order.reset_index(drop=True)

In [15]:
kite_orders

,Unnamed: 0,average_price,cancelled_quantity,disclosed_quantity,exchange,exchange_order_id,exchange_timestamp,exchange_update_timestamp,filled_quantity,guid,...,quantity,status,status_message,status_message_raw,tag,tradingsymbol,transaction_type,trigger_price,validity,variety
0,0,364.85,0,0,NSE,1000000003684051,2019-09-03 12:45:53,2019-09-03 12:45:53,1,12499XtgLHMdkdKPb0,...,1,COMPLETE,NaN,NaN,NaN,ADANIPORTS,BUY,0,DAY,regular
1,1,365.55,0,0,NSE,1000000003828581,2019-09-03 12:50:48,2019-09-03 12:50:48,1,01X6vQVkrdDNqDg,...,1,COMPLETE,NaN,NaN,NaN,ADANIPORTS,SELL,0,DAY,regular
2,2,366.00,0,0,NSE,1000000003834690,2019-09-03 12:53:54,2019-09-03 12:54:05,1,12499XEzsb7Humbp2Q,...,1,COMPLETE,NaN,NaN,NaN,ADANIPORTS,BUY,0,DAY,bo
3,3,0.00,0,1,NSE,1000000003862606,2019-09-03 12:54:05,2019-09-03 12:54:05,0,NaN,...,1,OPEN,NaN,NaN,NaN,ADANIPORTS,SELL,0,DAY,bo
4,4,0.00,0,1,NSE,1000000003862607,2019-09-03 12:54:05,2019-09-03 12:54:05,0,NaN,...,1,TRIGGER PENDING,NaN,NaN,NaN,ADANIPORTS,SELL,363,DAY,bo

In [25]:
day_high = 1
day_low = 2
stoploss=day_high if kite_orders['transaction_type'][kite_orders['order_id'] == current_order.at[current_order.loc[current_order['order_type'] == 'SL'].index.values.astype(int)[0], 'order_id']].values[0] == 'BUY' else day_low

In [27]:
stoploss

2

In [19]:
'a' if kite_orders['transaction_type'][kite_orders['order_id'] == current_order.at[current_order.loc[current_order['order_type'] == 'SL'].index.values.astype(int)[0], 'order_id']].values[0] == 'SELL' else 'b'

'b'

In [ ]:
current_order = kite_orders[kite_orders['status'] != 'OPEN']

In [37]:
kite_orders.loc[2, ['order_id', 'order_type', 'transaction_type', 'parent_order_id', 'price', 'status']]

order_id            190903001710311
order_type                    LIMIT
transaction_type                BUY
parent_order_id                 NaN
price                           366
status                     COMPLETE
Name: 2, dtype: object

In [38]:
current_order

,order_id,order_type,transaction_type,parent_order_id,price,status
0,190903001710311,LIMIT,BUY,NaN,366.0,COMPLETE

In [ ]:
current_order.loc[(current_order['order_type'] == 'LIMIT') & (current_order['transaction_type'] != 'BUY')].index.values.astype(int)[0]

In [ ]:
if kite_orders['status'][kite_orders['order_id'] == current_order.at[current_order.loc[(current_order['order_type'] == 'LIMIT') & (current_order['transaction_type'] != 'BUY')].index.values.astype(int)[0], 'order_id']].values[0] == 'COMPLETE':
    print("Target hit")

In [ ]:
if kite_orders['status'][kite_orders['order_id'] == current_order.at[current_order.index[current_order['order_type'] == 'LIMIT' and current_order['transaction_type'] != 'transaction_type'], 'order_id']].values[0] == 'COMPLETE':

In [ ]:
current_order.at[current_order.loc[(current_order['order_type'] == 'LIMIT') & (current_order['transaction_type'] != 'BUY')].index.values.astype(int)[0], 'order_id']

In [ ]:
(kite_orders['order_id'] == current_order.at[0, 'order_id']).index.values.astype(int)[0]

In [40]:
current_order = current_order.append(kite_orders.loc[kite_orders['parent_order_id'] == current_order.at[0, 'order_id'], ['order_id', 'order_type', 'transaction_type', 'parent_order_id', 'price', 'status']])

In [ ]:
current_order = current_order.reset_index()
current_order = kite_orders.loc[(kite_orders['order_id'] == current_order.at[0, 'order_id']).index.values.astype(int)[0], ['order_id', 'order_type', 'transaction_type', 'parent_order_id', 'price', 'status']]

In [41]:
current_order

,order_id,order_type,transaction_type,parent_order_id,price,status
0,190903001710311,LIMIT,BUY,NaN,366.00,COMPLETE
3,190903001722562,LIMIT,SELL,1.909030e+14,371.00,OPEN
4,190903001722563,SL,SELL,1.909030e+14,329.15,TRIGGER PENDING

In [ ]:
print(current_order)

In [42]:
current_order = current_order[current_order['status'] != 'COMPLETE']
current_order = current_order.reset_index(drop=True)

In [51]:
strategy_orders = pd.DataFrame(columns=['order_id', 'transaction_type', 'price', 'stoploss', 'target', 'status', 'semi-target_status', 'target_status', 'stoploss_status', 'day_high', 'day_low'])
strategy_orders

Empty DataFrame
Columns: [order_id, transaction_type, price, stoploss, target, status, semi-target_status, target_status, stoploss_status, day_high, day_low]
Index: []

In [49]:
current_order['stoploss'] = 0
current_order['target'] = 0
current_order['semi-target_flag'] = 0
current_order['target_flag'] = 0
current_order['stoploss_flag'] = 0

,order_id,order_type,transaction_type,parent_order_id,price,status,semi-target_flag,target_flag,stoploss_flag,stoploss,target
0,190903001722562,LIMIT,SELL,1.909030e+14,371.00,OPEN,0,0,0,0,0
1,190903001722563,SL,SELL,1.909030e+14,329.15,TRIGGER PENDING,0,0,0,0,0

In [50]:
kite_orders

,Unnamed: 0,average_price,cancelled_quantity,disclosed_quantity,exchange,exchange_order_id,exchange_timestamp,exchange_update_timestamp,filled_quantity,guid,...,quantity,status,status_message,status_message_raw,tag,tradingsymbol,transaction_type,trigger_price,validity,variety
0,0,364.85,0,0,NSE,1000000003684051,2019-09-03 12:45:53,2019-09-03 12:45:53,1,12499XtgLHMdkdKPb0,...,1,COMPLETE,NaN,NaN,NaN,ADANIPORTS,BUY,0,DAY,regular
1,1,365.55,0,0,NSE,1000000003828581,2019-09-03 12:50:48,2019-09-03 12:50:48,1,01X6vQVkrdDNqDg,...,1,COMPLETE,NaN,NaN,NaN,ADANIPORTS,SELL,0,DAY,regular
2,2,366.00,0,0,NSE,1000000003834690,2019-09-03 12:53:54,2019-09-03 12:54:05,1,12499XEzsb7Humbp2Q,...,1,COMPLETE,NaN,NaN,NaN,ADANIPORTS,BUY,0,DAY,bo
3,3,0.00,0,1,NSE,1000000003862606,2019-09-03 12:54:05,2019-09-03 12:54:05,0,NaN,...,1,OPEN,NaN,NaN,NaN,ADANIPORTS,SELL,0,DAY,bo
4,4,0.00,0,1,NSE,1000000003862607,2019-09-03 12:54:05,2019-09-03 12:54:05,0,NaN,...,1,TRIGGER PENDING,NaN,NaN,NaN,ADANIPORTS,SELL,363,DAY,bo

In [52]:
kite_orders.at[kite_orders['order_id'] == current_order.at[0,'order_id'], 'average_price'] = 999

In [58]:
kite_orders = kite_orders.reset_index(drop=True)
current_order = current_order.reset_index(drop=True)

In [60]:
kite_orders

,Unnamed: 0,average_price,cancelled_quantity,disclosed_quantity,exchange,exchange_order_id,exchange_timestamp,exchange_update_timestamp,filled_quantity,guid,...,quantity,status,status_message,status_message_raw,tag,tradingsymbol,transaction_type,trigger_price,validity,variety
0,0,364.85,0,0,NSE,1000000003684051,2019-09-03 12:45:53,2019-09-03 12:45:53,1,12499XtgLHMdkdKPb0,...,1,COMPLETE,NaN,NaN,NaN,ADANIPORTS,BUY,0,DAY,regular
1,1,365.55,0,0,NSE,1000000003828581,2019-09-03 12:50:48,2019-09-03 12:50:48,1,01X6vQVkrdDNqDg,...,1,COMPLETE,NaN,NaN,NaN,ADANIPORTS,SELL,0,DAY,regular
2,2,366.00,0,0,NSE,1000000003834690,2019-09-03 12:53:54,2019-09-03 12:54:05,1,12499XEzsb7Humbp2Q,...,1,COMPLETE,NaN,NaN,NaN,ADANIPORTS,BUY,0,DAY,bo
3,3,999.00,0,1,NSE,1000000003862606,2019-09-03 12:54:05,2019-09-03 12:54:05,0,NaN,...,1,OPEN,NaN,NaN,NaN,ADANIPORTS,SELL,0,DAY,bo
4,4,0.00,0,1,NSE,1000000003862607,2019-09-03 12:54:05,2019-09-03 12:54:05,0,NaN,...,1,TRIGGER PENDING,NaN,NaN,NaN,ADANIPORTS,SELL,363,DAY,bo

In [61]:
current_order

,order_id,order_type,transaction_type,parent_order_id,price,status,semi-target_flag,target_flag,stoploss_flag,stoploss,target
0,190903001722562,LIMIT,SELL,1.909030e+14,371.00,OPEN,0,0,0,0,0
1,190903001722563,SL,SELL,1.909030e+14,329.15,TRIGGER PENDING,0,0,0,0,0

In [72]:
ap = kite_orders.loc[kite_orders['order_id'] == current_order.loc[0,'order_id'], 'average_price']
ap

3    999.0
Name: average_price, dtype: float64

In [66]:
(kite_orders['order_id'] == current_order.at[0,'order_id'])

0    False
1    False
2    False
3     True
4    False
Name: order_id, dtype: bool

In [64]:
current_order.at[0,'order_id']

190903001722562

In [65]:
kite_orders['order_id']

0    190903001642183
1    190903001707491
2    190903001710311
3    190903001722562
4    190903001722563
Name: order_id, dtype: int64

In [73]:
kite_orders.where(kite_orders['status'] == 'COMPLETE')

,Unnamed: 0,average_price,cancelled_quantity,disclosed_quantity,exchange,exchange_order_id,exchange_timestamp,exchange_update_timestamp,filled_quantity,guid,...,quantity,status,status_message,status_message_raw,tag,tradingsymbol,transaction_type,trigger_price,validity,variety
0,0.0,364.85,0.0,0.0,NSE,1.000000e+15,2019-09-03 12:45:53,2019-09-03 12:45:53,1.0,12499XtgLHMdkdKPb0,...,1.0,COMPLETE,NaN,NaN,NaN,ADANIPORTS,BUY,0.0,DAY,regular
1,1.0,365.55,0.0,0.0,NSE,1.000000e+15,2019-09-03 12:50:48,2019-09-03 12:50:48,1.0,01X6vQVkrdDNqDg,...,1.0,COMPLETE,NaN,NaN,NaN,ADANIPORTS,SELL,0.0,DAY,regular
2,2.0,366.00,0.0,0.0,NSE,1.000000e+15,2019-09-03 12:53:54,2019-09-03 12:54:05,1.0,12499XEzsb7Humbp2Q,...,1.0,COMPLETE,NaN,NaN,NaN,ADANIPORTS,BUY,0.0,DAY,bo
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [83]:
kite_orders[kite_orders['status'] == 'NaN'].values.any()

False